body{
	padding: 5px;
}

/*
	For errors/alerts
	Change left and top to be centered
*/
.alert{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
}

#tileControl {
	height: auto;
	overflow: hidden;
}

#volumeControl {
	width:150px;
}

#dataContainer li {
	list-style-type: none;
}

h3 {
	margin-top:0px;
}
#currentSongContainer {
	/*width:160px;*/
}

#bootVoteButtonContainer {
	/*margin: text-align: center;
  margin: 0px auto;
  margin-bottom:5px;
  width: 95%;*/
}

#bootVoteButtonContainer > button {
	display:inline-block;
}

#iconContainer {
	width:160px;
	/*
	text-align: center;
    margin: 0px auto;
    margin-left:-5px;
    width: 95%;
	*/
}

#iconLink {
	margin-top:15px;
}

#volumeText {
	margin-left:67.5px;
}

#musicControl {
	position: fixed;
  bottom: 0;
  /*height: 61px;*/
  width: 100%;
  background-color: white;
  box-shadow: 0 0 30px #ccc;
  padding-top: 2px;
	z-index:999;
}

#currentSongContainer > * {
	display: inline-block;
}
