body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
	color: #EEEEEE;
}

a {
	text-decoration: none;
}

div.leftContainer {
	position: absolute;
	left: 0px;
	width: 204px;
	height: 100%;
	overflow: hidden;
	background: #262626;
	text-align: center;
}

div.logo {
	background: #161616;
	height: 66px;
}

img.logo {
	width: 190px;
	height: auto;
	margin: 7px;
}

div.userList {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 275px;
}

div.user {
	position: relative;
	width: 100%;
	height: 55px;
	overflow: hidden;
	text-align: left;
}

img.avatar {
	margin: 10px;
	width: 35px;
	height: 35px;
}

h1.userName {
	position: absolute;
	margin: 0px;
	margin-left: 55px;
	top: 0px;
	left: 0px;
	font-size: 22px;
	font-weight: 200;
	line-height: 55px;
}

div.middleContainer {
	position: absolute;
	height: 100%;
	left: 0px;
	right: 0px;
	margin-left: 204px;
	margin-right: 290px;
}

div.searchBar {
	height: 66px;
	width: 100%;
	background: #cbe86b;
}

div.poweredBy {
	height: 36px;
	width: 110px;
	position: absolute;
	right: 0px;
	margin: 13px;
	margin-bottom: 17px;
	background-image: url('/images/powered_by_soundcloud.png');
	background-size: auto 35px;
}

div.rightContainer {
	position: absolute;
	right: 0px;
	width: 290px;
	height: 100%;
	background: #262626;
}

div.chatContainer {
	text-align: center;
}

h1.roomName {
	margin: 15px;
	margin-top: 20px;
	margin-bottom: 0px;
	max-height: 40px;
	overflow: hidden;
	font-size: 30px;
	font-weight: 100;
}
h1.roomName:focus {
	outline: 1px solid #EEEEEE;
}

hr.chat {
	border: none;
	border-top: 1px solid #EEEEEE;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px auto;
	width: 250px;
}

div.chatStream {
	margin-top: 80px;
	margin-bottom: 100px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 20px;
	right: 20px;
	text-align: left;
	line-height: 17px;
	overflow: hidden;
}

div.messages {
	height: 100%;
}

div.chatTextArea {
	position: absolute;
	bottom: 0px;
	left: 20px;
	right: 20px;
	height: 100px;
	margin: 0px;
}

input.chatTextArea {
	width: 236px;
	height: 40px;
	padding-right: 25px;
	margin-top: 10px;
	resize: none;
	border: none;
	padding: 7px;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #999999;
}

span.userName {
	font-size: 12px;
	font-weight: bold;
	color: #cbe86b;
}

span.colon {
	margin-left: 1px;
	margin-right: 2px;
}

p.chatMessage {
	margin: 0px;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.chatMessage {
	margin-top: 8px;
	position: relative;
	bottom: 0px;
}

div.tiles {
	position: absolute;
	margin-top: 66px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

div.tile {
	position: absolute;
	background-size: 100%;
	cursor: pointer;
}

div.s100 {
	width: 100px;
	height: 100px;
}

div.s200 {
	width: 200px;
	height: 200px;
}

div.s300 {
	width: 300px;
	height: 300px;
}

hr.leftBar {
	width: 180px;
	border: none;
	margin: 10px;
	border-top: 1px solid #EEEEEE;
}

div.songQueue {
	height: 250px;
	position: relative;
	bottom: 0px;
	left: 0px;
}

div.modal-dialog {
	margin-top: 100px;
	width: 400px;
}

div.modal-content {
	boder-radius: 0px;
	background: #EEEEEE;
}

h1.welcome {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #111111;
	margin: 0px;
}

hr.welcome {
	margin-top: 10px;
	border: none;
	border-top: 1px solid #111111;
}

input.welcomeInput {
	width: 368px;
	height: 40px;
	font-size: 20px;
	padding-left: 10px;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	border: 1px solid #111111;
	color: #363636;
}

input.welcomeButton {
	margin-top: 15px;
	width: 120px;
	height: 35px;
	background: #cbe86b;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #111111;
}

div.search {
	padding: 15px;
	margin-left: 40px;
}

input.search {
	border-radius: 18px;
	height: 36px;
	border: none;
	background-color: #262626;
	width: 240px;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding-left: 20px;
	color: #EEEEEE;
}

input.search:focus {
	outline: none;
}

input.searchSubmit {
	visibility: hidden;
}

input.welcomeButton:hover {
	color: initial;
	background: #cbe86b;
}

div.track {
	width: 100%;
	height: 25px;
	overflow: hidden;
	text-align: left;
	margin-left: 10px;
}

h1.track {
	margin: 0px;
	font-size: 15px;
	font-weight: 200;
	line-height: 25px;
}

div.currentSong {
	margin: 12px;
	margin-bottom: 5px;
}

div.albumArt {
	background-image: url('/images/albumArt/album1.jpg');
	background-size: 100%;
	width: 180px;
	height: 180px;
}

div.time {
	width: 100%;
	height: 22px;
	background: rgba(0,0,0,0.7);
	position: relative;
	top: 158px;
}

p.time {
	color: #EEEEEE;
	text-align: right;
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	margin-right: 5px;
}

div.songInfo {

}

h1.songTitle {
	font-weight: 200;
	font-size: 20px;
	margin: 0px;
	margin-top: 6px;
	text-align: left;
}
p.artistName {
	font-weight: 200;
	font-size: 13px;
	margin: 0px;
	margin-top: 0px;
	text-align: left;
}






