.shading {  
    position: absolute;
    height: 100%;
    width:100%;  
    /* styling bellow */  
    background-color: rgba(0,0,0,0.6);  
    font-family: 'tahoma';  
    font-size:15px;  
    color: #EEEEEE; 
}  

.trackInfo {
  font-family: 'Segoe UI';
  font-size:15px;
  position:absolute;
  z-index: 30;
}

.trackInfoContainer {
  position : absolute;
  bottom: 0px;
  width: 100%;
  height: 39px;
}

.trackInfo span {
  margin-left: 5px;
}

.trackLinkContainer {
  margin-top: 10px;
}

.imageLeft {
  margin-left: 30px;
  padding-right: 5px;
}

.imageRight {
  padding-left: 5px;
}

.imageLeft:hover, .imageRight:hover {
  cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tileImage {
  background-size: 150px 150px;
}

.noselect span {
  cursor: default;
}