<!DOCTYPE html>

<html>
<head>
	<title>Shared Music</title>

	<link rel="stylesheet" type="text/css" href="Metrojs.css">
	<link rel="stylesheet" type="text/css" href="/style/tileTest.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Default theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/index.css"> -->

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- socket.io -->
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	<!-- SoundCloud -->
	<script src="http://connect.soundcloud.com/sdk.js"></script>

	<!-- Requirejs script importing -->
	<script data-main="../js/main.js" src="../js/require.js"></script>
	<link rel="stylesheet" href="style/app.css">

		<script src="/js/MetroJs.js"></script>
		<script src="/js/tiles.js"></script>

	<script>
		$(document).ready(function(){

			function getParameterByName(name) {
					name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
					var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
							results = regex.exec(location.search);
					return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}

			$('#roomID').hide();
			var count = 0;
			var timer = setInterval(function () {
				count++;
					//$("#roomID").val(getParameterByName('roomID'));
					//$("roomID").trigger('input');

					var input = $('#roomID');
					input.val(getParameterByName('roomID'));
					input.trigger('input');

					if(count > 10) {
						clearInterval(timer);
					}
				}, 100);

			$('.searchFilter').change(function() {
				angular.element(this).scope().filter();
			});
		});
	</script>
</head>

<body>
	<h1>Shared Music</h1>
	<hr>
	<!-- User list proof of concept test -->
	<div ng-controller="UserController as userList">
		<label>Name:</label>
		<form ng-submit="userList.addUser()">
			<input type="text" ng-model="userList.temp.name" ng-disabled="button" required ng-init="button = false" size="30" placeholder="type your name here">
			<input id="roomID" type="text" ng-model="userList.temp.roomID">
			<input ng-click="button = true" id="enterRoom" class="btn btn-primary btn-xs" type="submit" value="enter room">
			<!-- onclick="document.getElementById('enterRoom').disabled = true" -->
		</form>
		<div>
			<h2>Users in room:</h2>
			<ul>
				<li ng-repeat="user in userList.users">{{user.name}} as user id: {{user.id}}</li>
			</ul>
		</div>
	</div>
	<hr>

	<!-- Music list proof of concept test -->
	<div ng-controller="MusicController as musicList">
		<div>
			<h2>Songs in Queue:</h2>
			<ol>
				<li ng-repeat="song in musicList.queue">{{song.title}} as song id: {{song.id}}</li>
			</ol>
		</div>
	</div>

	<hr>

	<!-- Music Player -->
	<div id="musicControl" ng-controller="MusicPlayer as musicplayer">
		<div>
			<!--<form ng-submit="musicplayer.playSong()">
				<input class="btn btn-primary btn-xs" type="submit" value="Play Next Song">
			</form>-->
		</div>

		<div>
			<h2>Current Song:</h2>

			<button ng-click="musicplayer.muteSong()" class="btn btn-primary btn-xs">{{musicplayer.muteStatus}}</button>
			<div id="bootVotes" ng-controller="BootVotes as bootVotes">
				<button ng-click="bootVotes.addBootVote()" class="btn btn-primary btn-xs">Vote to Boot Song</button>
				<p> {{bootVotes.bootCount}} \ {{bootVotes.userCount}}</p>
			</div>

			<img ng-src="{{musicplayer.getAlbumArt()}}">

			<p>{{musicplayer.trackInfo.title}} by {{musicplayer.trackInfo.user.username}}</p>
			<p>{{musicplayer.millisToMinutesAndSeconds(musicplayer.currentTrackTime)}} of {{musicplayer.millisToMinutesAndSeconds(musicplayer.trackInfo.duration)}}</p>

			<input ng-model="musicplayer.volume" ng-change="musicplayer.updateVolume()" type="range" min="0" max="100" value="50" />
			<p>{{musicplayer.volume}}</p>

			<a href="{{musicplayer.trackInfo.permalink_url}}">Song Link</a>
		</div>

		<div>
			<a href="https://soundcloud.com">
				<img src="https://developers.soundcloud.com/assets/powered_by_black-ee7e351d64511ecea75c6c17ca30064f.png">
			</a>
		</div>
	</div>

	<hr>

	<!-- tiles !-->
		<div id="tileControl" ng-controller="TileCtrl">
				<div ng-repeat="track in tracks" class="live-tile" data-mode="flip">
					<div class="tileImage" ng-style="{'background-image': 'url(' + track.frontTrack.artwork_url + ')'}">
						<div class="trackInfoContainer">
							<div class='shading'>
							</div>
							<div class="trackInfo noselect" onselectstart="return false">
								<span>{{track.frontTrack.artist | cut:true:17:' ...'}}</span>
								</br>
								<span>{{track.frontTrack.title | cut:true:17:' ...'}}</span>
								</br>
								<span>{{track.frontTrack.genre | cut:true:17:' ...'}}</span>
								</br>
								<span>{{msToTime(track.frontTrack.duration)}}</span>
								<div class="trackLinkContainer">
									<img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px" ng-click="addTrack(track.frontTrack)">
									<a href="{{track.frontTrack.permalink_url}}">
									<img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tileImage" ng-style="{'background-image': 'url(' + track.backTrack.artwork_url + ')'}">
						<div class="trackInfoContainer">
							<div class='shading'>
							</div>
							<div class="trackInfo noselect" onselectstart="return false">
								<span>{{track.backTrack.artist | cut:true:17:' ...'}}</span>
								</br>
								<span>{{track.backTrack.title | cut:true:17:' ...'}}</span>
								</br>
								<span>{{track.backTrack.genre | cut:true:17:' ...'}}</span>
								</br>
								<span>{{msToTime(track.backTrack.duration)}}</span>
								<div class="trackLinkContainer">
									<img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px" ng-click="addTrack(track.backTrack)">
									<a href="{{track.backTrack.permalink_url}}">
										<img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			<!-- No need for retrieval
			<form ng-submit="retrieveTracks()">
				<input type="submit" value="Get Tracks">
			</form>
			!-->
		</div>

	<hr>

	<!-- Search -->

	<div ng-controller="SearchController as search">
		<h1>Search</h1>
		<!-- Search box and submit button-->
			<form ng-submit="search.search(search.query)">
				<div class="form-group">
					<input type="text" ng-model="search.query"  size="30"
					placeholder="Enter Query">
					<input class="btn btn-primary btn-xs" type="submit" value="Search">
				</div>
			</form>

		<div>
			<table class="table table-hover table-condensed" style="width:100%">
				<!-- Headings for each column in the table-->
				<tr>
					<th>Title</th>
					<th>Duration</th>
					<th>Username</th>
					<th>Genre</th>
				</tr>

				<!-- Filter fields for each column-->
				<tr>
					<td>
						<div>
				        	<input type="text" ng-model="search.title" ng-change='filter()' size="50"
							placeholder="Title filter">
				      	</div>
					</td>

					<td>
						<form ng-submit="search.sortByDuration()">
							Ascending?
							<input type="checkbox" ng-model="search.ascending" ng-click='filter()'>
						</form>
					</td>

					<td>
						<form ng-submit="search.filter()">
							<input class="searchFilter" type="text" ng-model="search.user" ng-change='filter()' size="30"
							placeholder="User filter">
						</form>
					</td>
					<td>
						<form ng-submit="search.filter()">
							<input class="searchFilter" type="text" ng-model="search.genre" ng-change='filter()' size="30"
							placeholder="Genre filter">
						</form>
					</td>
				</tr>

				<!-- Display the results-->
				<tr ng-repeat="track in search.display">
					<td>{{track.title}} </td>
					<td>{{search.millisToMinutesAndSeconds(track.duration)}}</td>
					<td>{{track.user.username}}</td>
					<td>{{track.genre}}</td>
					<td>
						<form ng-submit="search.addSong($index)">
							<input class="btn btn-primary btn-xs" type="submit" value="Add">
						</form>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>
