<!DOCTYPE html>

<html>
<head>
	<title>Shared Music</title>

	<link rel="stylesheet" type="text/css" href="Metrojs.css">
	<link rel="stylesheet" type="text/css" href="/style/tileTest.css">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Default theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/index.css"> -->

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

	<!-- socket.io -->
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	<!-- SoundCloud -->
	<script src="http://connect.soundcloud.com/sdk.js"></script>

	<!-- Requirejs script importing -->
	<script data-main="../js/main.js" src="../js/require.js"></script>
	<link rel="stylesheet" href="style/app.css">

		<script src="/js/MetroJs.js"></script>
		<script src="/js/tiles.js"></script>

	<script>
		$(document).ready(function(){

			function getParameterByName(name) {
					name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
					var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
							results = regex.exec(location.search);
					return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
			}

			$('#roomID').hide();
			var count = 0;
			var timer = setInterval(function () {
				count++;
					//$("#roomID").val(getParameterByName('roomID'));
					//$("roomID").trigger('input');

					var input = $('#roomID');
					input.val(getParameterByName('roomID'));
					input.trigger('input');

					if(count > 10) {
						clearInterval(timer);
					}
				}, 100);
		}); 
	</script>
</head>

	<body>
		
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
				 <a class="navbar-brand" href="#">
					<text>SharedMusic</text>
				</a>
			</div>
		  </div>
		</nav>
		
		<div class="container">
				<div class="row">
					<div ng-controller="UserController as userList" class="col-md-3">
						<label>Name:</label>
						<form ng-submit="userList.addUser()">
							<input type="text" ng-model="userList.temp.name" ng-disabled="button" required ng-init="button = false" size="30" placeholder="type your name here">
							<input id="roomID" type="text" ng-model="userList.temp.roomID">
							<input ng-click="button = true" id="enterRoom" class="btn btn-primary btn-xs" type="submit" value="enter room">
							<!-- onclick="document.getElementById('enterRoom').disabled = true" -->
						</form>
						<div ng-controller="MusicController as musicList">
							<h3>Users in room:</h3>
							<ul>
								<li ng-repeat="user in userList.users">{{user.name}} as user id: {{user.id}}</li>
							</ul>
						</div>
						
						<div>
							<h3>Songs in Queue:</h3>
							<ul>
								<li ng-repeat="song in musicList.queue">{{song.name}} as song id: {{song.id}}</li>
							</ul>
						</div>
						
						<!-- Music Player -->
						<div id="musicControl" ng-controller="MusicPlayer as musicplayer">
							<div>
								<!--<form ng-submit="musicplayer.playSong()">
									<input class="btn btn-primary btn-xs" type="submit" value="Play Next Song">
								</form>-->
							</div>

							<div>
								<h2>Current Song:</h2>

								<button ng-click="musicplayer.muteSong()" class="btn btn-primary btn-xs">{{musicplayer.muteStatus}}</button>

								<img ng-src="{{musicplayer.trackInfo.artwork_url}}">
								<p>{{musicplayer.trackInfo.title}} by {{musicplayer.trackInfo.user.username}}</p>
								<a href="{{musicplayer.currentSongURL}}">Song Link</a>
							</div>

							<div>
								<a href="https://soundcloud.com">
									<img src="https://developers.soundcloud.com/assets/powered_by_black-ee7e351d64511ecea75c6c17ca30064f.png">
								</a>
							</div>
						</div>
					</div>
					
					
					<div class="col-md-9" ng-controller="SearchController as search">
						<h1>Search</h1>
						<!-- Search box and submit button-->
							<form ng-submit="search.search(search.query)">
								<div class="form-group">
									<input type="text" ng-model="search.query"  size="30"
									placeholder="Enter Query">
									<input class="btn btn-primary btn-xs" type="submit" value="Search">
								</div>
							</form>
						<div>
							<table class="table table-hover table-condensed" style="width:100%">
								<!-- Headings for each column in the table-->
								<tr>
									<th>Title</th>
									<th>Duration</th>
									<th>Username</th>
									<th>Genre</th>
								</tr>

								<!-- Filter fields for each column-->
								<tr>
									<td>
										<form ng-submit="search.filter()">
											<input type="text" ng-model="search.title"  size="30"
											placeholder="Title filter">
											<input class="btn btn-primary btn-xs" type="submit" value="Filter">
										</form>
									</td>

									<td>
										<form ng-submit="search.sortByDuration()">
											Ascending?
											<input type="checkbox" ng-model="search.ascending">
											<input class="btn btn-primary btn-xs" type="submit" value="Sort">
										</form>
									</td>

									<td>
										<form ng-submit="search.filter()">
											<input type="text" ng-model="search.user"  size="30"
											placeholder="User filter">
											<input class="btn btn-primary btn-xs" type="submit" value="Filter">
										</form>
									</td>
									<td>
										<form ng-submit="search.filter()">
											<input type="text" ng-model="search.genre"  size="30"
											placeholder="Genre filter">
											<input class="btn btn-primary btn-xs" type="submit" value="Filter">
										</form>
									</td>
								</tr>

								<!-- Display the results-->
								<tr ng-repeat="track in search.display">
									<td>{{track.title}} </td>
									<td>{{search.millisToMinutesAndSeconds(track.duration)}}</td>
									<td>{{track.user.username}}</td>
									<td>{{track.genre}}</td>
									<td>
										<form ng-submit="search.addSong($index)">
											<input class="btn btn-primary btn-xs" type="submit" value="Add">
										</form>
									</td>
								</tr>
							</table>
						</div>
					</div>
					
				 

					<!-- tiles !-->
					<hr>
						<div id="tileControl" ng-controller="TileCtrl">
							<div ng-repeat="track in tracks" class="live-tile" data-mode="flip">
								<div class="tileImage" ng-style="{'background-image': 'url(' + track.frontTrack.artwork_url + ')'}">
									<div class="trackInfoContainer">
										<div class='shading'>
										</div>
										<div class="trackInfo noselect" onselectstart="return false">
											<span>{{track.frontTrack.artist | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.frontTrack.title | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.frontTrack.genre | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.frontTrack.duration}}</span>
											<div class="trackLinkContainer">
												<img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px">
												<img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">                
											</div>
										</div>
									</div>
								</div>
								<div class="tileImage" ng-style="{'background-image': 'url(' + track.backTrack.artwork_url + ')'}">
									<div class="trackInfoContainer">
										<div class='shading'>
										</div>
										<div class="trackInfo noselect" onselectstart="return false">
											<span>{{track.backTrack.artist | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.backTrack.title | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.backTrack.genre | cut:true:17:' ...'}}</span>
											</br>
											<span>{{track.backTrack.duration}}</span>
											<div class="trackLinkContainer">
												<img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px">
												<img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					<hr>
				</div>
			
		</div>
		
		
		
		
	</body>
</html>









