<!DOCTYPE html>

<html>
<head>
	<title>Jukebox - Share and listen to music with friends</title>

	<link rel="shortcut icon" href="/images/favicon.png">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->

	<!-- Style sheet for index page -->
	<link href="/style/indexStyle.css" rel="stylesheet" type="text/css">

	<!-- Raleway Font Import -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300,200,100,800,900" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="container">
		<img class="logo" src="/images/dark-logo-t.png">
		<hr noshade>
		<h1>BUILD PLAYLISTS AND LISTEN <br/>TO MUSIC WITH FRIENDS.</h1>
		<button onclick="location.href='/createRoom';"> CREATE ROOM </button>
	</div>
</body>
</html>