<!DOCTYPE html>

<html>
<head>
	<title>Shared Music</title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<!-- Default theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/index.css"> -->
</head>

<body>
	<div class="container">
	  <div class="jumbotron">
	    <h1>Shared Music</h1>
	    <p>This is our awesome music sharing service!</p>
	  </div>

	  <input class="btn btn-primary btn-xs" onclick="location.href='/createRoom';" type="button" value="Create Room">
	</div>
</body>
</html>