<!DOCTYPE html>

<html ng-app="musicplayer">
	<head>
		<title>Shared Music</title>

		<!-- Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<!-- SoundCloud -->
	    <script src="http://connect.soundcloud.com/sdk.js"></script>
	    <!-- MusicPlayer -->
	    <script src="../controllers/musicplayer.js"></script>
	</head>

	<body>
		<h1>Shared Music</h1>
		<hr>

		<!--
		Music player

		SoundCloud requirements to stream without using widget:
		1. Credit the uploader as the creator of the sound
		2. Credit SoundCloud as the source by including one of the logos found here
			- https://developers.soundcloud.com/docs/api/buttons-logos
		3. Link to the SoundCloud URL containing the work (if sound is private link to the profile of the creator)
		-->
		<div ng-controller="MusicPlayer as musicplayer">
			<div>
				<form ng-submit="musicplayer.updateSong(musicplayer.newSongURL, -1)">
					<input type="text" ng-model="musicplayer.newSongURL">
					<input class="btn-primary" type="submit" value="Play">
				</form>
			</div>

			<div>
				<h2>Current Song:</h2>
				<img ng-src="{{musicplayer.trackInfo.artwork_url}}">
				<p>{{musicplayer.trackInfo.title}} by {{musicplayer.trackInfo.user.username}}</p>
				<a href="{{musicplayer.currentSongURL}}">Song Link</a>
			</div>

			<div>
				<a href="https://soundcloud.com">
					<img src="https://developers.soundcloud.com/assets/powered_by_black-ee7e351d64511ecea75c6c17ca30064f.png">
				</a>
			</div>
		</div>


	</body>
</html>
