<!DOCTYPE html>

<html>
  <head>
    <title>Shared Music</title>

    <link rel="stylesheet" type="text/css" href="Metrojs.css">
    <link rel="stylesheet" type="text/css" href="/style/tileTest.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Default theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/index.css"> -->
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

    <!-- Requirejs script importing -->
    <link rel="stylesheet" href="style/app.css">

    <script src="/js/MetroJs.js"></script>
    <script src="/js/tiles.js"></script>

    <script type="text/javascript">
      var exploreTiles = angular.module('exploreTiles', [])
        .filter('cut', function () {
              return function (value, wordwise, max, tail) {
                  if (!value) return '';

                  max = parseInt(max, 10);
                  if (!max) return value;
                  if (value.length <= max) return value;

                  value = value.substr(0, max);
                  if (wordwise) {
                      var lastspace = value.lastIndexOf(' ');
                      if (lastspace != -1) {
                          value = value.substr(0, lastspace);
                      }
                  }

                  return value + (tail || ' …');
              };
          });

      function msToTime(duration) {
        var milliseconds = parseInt((duration%1000)/100)
            , seconds = parseInt((duration/1000)%60)
            , minutes = parseInt((duration/(1000*60))%60)
            , hours = parseInt((duration/(1000*60*60))%24);

        return minutes + "m " + seconds + "s";
      }

      function fixResolution(resolutionURL) {
        return resolutionURL.replace("large", "t300x300");
      }

      function cleanTrack(track) {
        track.duration = msToTime(track.duration);
        if(!track.artwork_url) {
          track.artwork_url = track.user.avatar_url;
        }
        track.artwork_url = fixResolution(track.artwork_url);

        return track;
      }

      exploreTiles.controller('TileCtrl', function($scope, $http) {
        $scope.tracks = 
        [ 
          {
          'frontTrack':
          {
            'artist': 'Drake',
            'title': 'Trophies',
            'genre': 'Hip-Hop',
            'duration': '3m 45s'
          },
          'backTrack':
          {
            'artist': 'Uppermost',
            'title': 'Beaufitul Life',
            'genre': 'Electronic',
            'duration': '2m 50s'
          }
          }

          ];

        // Adds a song to the queue
        $scope.retrieveTracks = function() {
          $.get("scrape", function(data, status) {
            var tracks = data.tracks;

            var half = data.tracks.length/2;

            $scope.tracks = [];

                  for(var i = 0; i < 24; i++) {
                    $scope.tracks.push(
                    {
                    'frontTrack': cleanTrack(tracks[i]),
                  'backTrack' : cleanTrack(tracks[half+i])
                    });
                  }

                  
                $scope.$apply();
          });
        };
      });

      exploreTiles.directive('tile', function() {
        return {
          templateUrl: 'tile.html'
        };
      });
    </script>
  </head>

  <body ng-app="exploreTiles">
    <div ng-controller="TileCtrl">
      
        <div ng-repeat="track in tracks" class="live-tile" data-mode="flip">
          <div class="tileImage" ng-style="{'background-image': 'url(' + track.frontTrack.artwork_url + ')'}">
            <div class="trackInfoContainer">
              <div class='shading'>
              </div>
              <div class="trackInfo noselect" onselectstart="return false">
                <span>{{track.frontTrack.artist | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.frontTrack.title | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.frontTrack.genre | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.frontTrack.duration}}</span>
                <div class="trackLinkContainer">
                  <img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px">
                  <img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">                
                </div>
              </div>
            </div>
          </div>
          <div class="tileImage" ng-style="{'background-image': 'url(' + track.backTrack.artwork_url + ')'}">
            <div class="trackInfoContainer">
              <div class='shading'>
              </div>
              <div class="trackInfo noselect" onselectstart="return false">
                <span>{{track.backTrack.artist | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.backTrack.title | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.backTrack.genre | cut:true:17:' ...'}}</span>
                </br>
                <span>{{track.backTrack.duration}}</span>
                <div class="trackLinkContainer">
                  <img class="imageLeft" src="/images/addsong.png" alt="Add Song" style="width:40px;height:40px">
                  <img class="imageRight" src="/images/soundcloud.png" alt="SoundCloud" style="width:40px;height:40px">
                </div>
              </div>
            </div>
          </div>
        </div>

      <form ng-submit="retrieveTracks()">
        <input type="submit" value="Get Tracks">
      </form>
    </div>
  </body>
</html>
